/* main background color #E5E5E5 */
/* secondary background color #F4F4FD */
/* (title, footer and hero) title color "NAVY BLUE" #2E2F42 */
/* text color slate #434455 */
/* white button color  #E7E9FC */
/* white button text color "IRIS" #4D5AE5 */
/* blue button color #4D5AE5 */
/* blue button text color #FFFFFF */
/* active blue button color #404BBF */

:root {
  --main-background-color: #ffffff;
  --secondary-background-color: #f4f4fd;
  --title-color-navyblue: #2e2f42;
  --text-color-slate: #434455;
  --white-button-color: #f4f4fd;
  --white-button-text-color: #4d5ae5;
  --blue-button-color: #4d5ae5;
  --blue-button-text-color: #ffffff;
  --active-blue-button-color: #404bbf;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

* {
  padding: 0;
  margin: 0;
}
html {
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
  color: var(--text-color-slate);
  width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

/* button:hover,
button:focus,
a:hover,
a:focus,
li:hover,
li:focus,
div:hover,
div:focus,
.project-item:hover .overlay {
  transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function),
    fill 250ms var(--timing-function), box-shadow 250ms var(--timing-function),
    transform 250ms var(--timing-function);
} */

/* ================== NAVIGAGION================== */
.logo {
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  color: var(--title-color-navyblue);
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
}

.container {
  max-width: 1158px;
  min-width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.current-studio {
  position: relative;
  color: var(--active-blue-button-color);
}

.current-studio::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  background-color: var(--active-blue-button-color);
  border-radius: 2px;
  height: 4px;
  transform: translateY(24px);
}

.current-portfolio {
  position: relative;
  color: var(--active-blue-button-color);
}

.nav-list .studio-link {
  color: var(--active-blue-button-color);
}

.nav-list .portfolio-link {
  color: var(--active-blue-button-color);
}

.nav-list .current-portfolio::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  background-color: var(--active-blue-button-color);
  border-radius: 2px;
  height: 4px;
  transform: translateY(24px);
}
/* ==============================FLEX======================= */
.header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  position: relative;
}

.site-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav-list {
  display: flex;
  margin-left: 77px;
}

.contact-list {
  display: flex;
  align-items: center;
}

.envelope::before {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(../images/icon.svg#icon-envelope);
  background-size: contain;
}
.container-header {
  display: flex;
  padding: 24px 15px 28px 15px;
  align-items: center;
  position: relative;
  justify-content: space-between;
  height: 76px;
}

/* ==============================FLEX======================= */

ul {
  list-style: none;
}

header {
  background-color: var(--main-background-color);
}

.nav-list li {
  font-weight: 700;
  color: var(--title-color-navyblue);
  line-height: 1.5;
}

.nav-list li:nth-child(-n + 2) {
  margin-right: 40px;
}

.contact-list li:first-child {
  margin-right: 40px;
}

.nav-list a {
  color: var(--title-color-navyblue);
  transition: color 250ms var(--timing-function);
}

.nav-list a:hover,
.nav-list a:focus {
  color: var(--white-button-text-color);
}

.contact-list a:hover,
.contact-list a:focus {
  color: var(--blue-button-color);
}

.nav-list a:active {
  color: var(--blue-button-color);
}

.contact-list a {
  color: var(--text-color-slate);
  transition: color 250ms var(--timing-function);
}

.contact-list a:active {
  color: var(--active-blue-button-color);
}

.blue-logo {
  color: var(--white-button-text-color);
}

/* ==========================HERO============================== */
.hero-title {
  font-family: "Roboto", sans-serif;
  text-align: center;
  line-height: 1.07;
  color: var(--blue-button-text-color);
  font-weight: 700;
  font-size: 56px;
  width: 492px;
  margin-bottom: 48px;
}

.hero .container {
  padding: 0px 15px;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: var(--title-color-navyblue);
  background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  padding-top: 192px;
  padding-bottom: 192px;
  max-width: 1440px;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
}

button {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  letter-spacing: 0.04em;
  line-height: 1.17;
  display: flex;
  border: 0ex;
}

.blue-button {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 4px;
  padding: 16px 32px 16px 32px;
  background-color: var(--blue-button-color);
  color: var(--blue-button-text-color);
  letter-spacing: 0.02em;
  line-height: 1.17;
  transition: background-color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
  justify-content: center;
}

.blue-button:hover,
.blue-button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #404bbf;
}

.blue-button:active {
  box-shadow: 0px 4px 4px 0px #00000026;
  background-color: var(--active-blue-button-color);
}

/* ===================ADVANTAGES============================= */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-icon-container {
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  padding: 24px 100px;
  margin-bottom: 8px;
}

.advantages-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.container-advantages {
  display: flex;
  justify-content: center;
}

.advantages-sub-title {
  color: var(--title-color-navyblue);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.advantages-list-item {
  margin-top: 8px;
  line-height: 1.5;
  font-size: 16px;
  width: 264px;
}

.advantages-section {
  display: flex;
  justify-content: center;
  padding-top: 120px;
}

.advantages-icon {
  fill: var(--title-color-navyblue);
}

/* =============================OFFERS=================================== */
.occupation h2 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--title-color-navyblue);
  font-weight: 700;
}

.occupation-title {
  margin-bottom: 72px;
}

.container-occupation {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.occupation-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.occupation {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* ===============================================OUR TEAM====================== */

.our-team {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: var(--secondary-background-color);
}

.our-team-title {
  text-align: center;
  margin-bottom: 72px;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  letter-spacing: 0.02em;
  color: var(--title-color-navyblue);
  line-height: 1.1;
}

.container-our-team {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.member-list .project-item-text {
  text-align: center;
  padding-left: 0px;
}

.member-list p {
  line-height: 1.5;
  font-size: 16px;
  margin-top: 8px;
}

.member {
  color: var(--title-color-navyblue);
  font-size: 20px;
  line-height: 1.2;
}

.member-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.our-team-item {
  background-color: var(--main-background-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.our-team-member {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
}

.socials-list {
  display: flex;
  gap: 24px;
  margin-top: 8px;
  justify-content: center;
}

.socials-list-item {
  display: flex;
}

.socials-link {
  width: 40px;
  height: 40px;
  background-color: var(--blue-button-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  fill: var(--main-background-color);
  transition: background-color 250ms var(--timing-function);
}

.socials-link:hover,
.socials-link:focus {
  background-color: var(--active-blue-button-color);
}

.socials-item {
  width: 16px;
  height: 16px;
}

.use-socials {
  width: 40px;
  height: 40px;
}

/* ==========================================CUSTOMERS======================== */
.customers {
  padding-top: 120px;
  padding-bottom: 120px;
}

.customers-title {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--title-color-navyblue);
  text-align: center;
}

.customer-list {
  display: flex;
  gap: 24px;
  margin-top: 72px;
  justify-content: center;
}

.customer-list:hover,
.customer-list:focus {
  fill: #9747ff;
}

.customer-list-item-link {
  display: flex;
  border: 1px solid #8e8f99;
  padding: 16px 32px;
  width: 168px;
  height: 88px;
  border-radius: 4px;
  fill: #8e8f99;
  transition: fill 250ms var(--timing-function);
}

.customers-item {
  width: 104px;
  height: 56px;
}

.customer-list-item-link:hover,
.customer-list-item-link:focus {
  fill: #4d5ae5;
  border-color: #4d5ae5;
}
/* =========================================FOOTER========================== */

.bottom {
  padding-top: 100px;
  padding-bottom: 100px;
}

.bottom-container {
  /* width: 1158px; */
  display: flex;
  align-items: baseline;
}

.logo-block {
  margin-right: 120px;
}

.social-media-title {
  color: var(--main-background-color);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
}

.social-media-list {
  display: flex;
  gap: 16px;
  margin-top: 16px;
}

.social-media-link:hover,
.social-media-link:focus {
  background-color: #31d0aa;
}

.social-media-list-item {
  width: 40px;
  height: 40px;
}

.social-media-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms var(--timing-function);
}

.social-media-item {
  width: 24px;
  height: 24px;
  fill: var(--main-background-color);
}

footer .second-logo {
  color: #f4f4fd;
  font-weight: 800;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

footer {
  background-color: var(--title-color-navyblue);
}

.summury {
  max-width: 264px;
  color: #e7e9fc;
  line-height: 1.5;
  margin-top: 16px;
}

/* =====================================================PORTFOLIO======================== */
.overlay-container {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  top: 40px;
  left: 32px;
  right: 32px;
  color: var(--white-button-color);
}

.overlay-container .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--blue-button-color);
  color: var(--white-button-color);
  transition: transform 250ms var(--timing-function);
}

.project-item:hover .overlay {
  transform: translateY(-100%);
  animation-duration: 250ms;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.list-button-section {
  padding-bottom: 120px;
  padding-top: 96px;
}

.white-button {
  border-radius: 4px;
  padding: 12px 24px 12px 24px;
  background-color: var(--white-button-color);
  color: var(--white-button-text-color);
  transition: background-color 250ms var(--timing-function),
    color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}

.button-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.white-button:hover,
.white-button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--blue-button-color);
  color: var(--blue-button-text-color);
}

.white-button:active {
  box-shadow: 0px 4px 4px 0px #00000026;
  background-color: var(--active-blue-button-color);
  color: #ffffff;
}

.project-card {
  display: flex;
  flex-wrap: wrap;
  margin-top: 72px;
  row-gap: 48px;
  column-gap: 24px;
}

.project-card li a {
  width: 360px;
  height: 300px;
}

.project-item-title {
  font-size: 20px;
  line-height: 1.2;
  color: var(--title-color-navyblue);
  font-weight: 700;
}

.project-item-text {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  box-sizing: border-box;
  border: 0.5px solid #f4f4fd;
  border-top: none;
}

.project-item-text p {
  margin-top: 8px;
}

.project-item {
  margin: 0 auto;
  width: 360px;
  height: 420px;
  transition: box-shadow 250ms var(--timing-function);
}

.project-item:hover,
.project-item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.project-item a {
  height: 120px;
}

.project-item-text p {
  line-height: 1.5;
  font-size: 16px;
  color: var(--text-color-slate);
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms var(--timing-function),
    visability 250ms var(--timing-function);
  overflow-y: scroll;
}

.modal {
  position: absolute;
  max-width: 408px;
  top: 88px;
  left: 50%;
  background-color: #fcfcfc;
  transform: translateX(-50%);
  border-radius: 4px;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.cross {
  width: 8px;
  height: 8px;
}

.close-button:hover,
.close-button:focus {
  background: var(--active-blue-button-color);
  fill: var(--blue-button-text-color);
}

.close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background: #e7e9fc;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  justify-content: center;
  display: inline-flex;
  align-items: center;
  transition: background-color 250ms var(--timing-function);
}

.text-area {
  resize: none;
  height: 120px;
}

.modal-form {
  padding: 72px 24px 24px 24px;
  display: flex;
  flex-direction: column;
}

.modal-text {
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 14px;
  color: var(--title-color-navyblue);
}

label {
  margin-bottom: 4px;
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.16;
}

textarea {
  margin-bottom: 16px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  padding-top: 8px;
  padding-left: 16px;
}

textarea::placeholder {
  font-size: 12px;
  line-height: 16px;
  color: rgba(117, 117, 117, 0.5);
  letter-spacing: 0.04em;
  outline: none;
}

input {
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border 250ms var(--timing-function);
  outline: none;
}

.inputs {
  margin-bottom: 8px;
  height: 40px;
  padding-left: 38px;
  width: 100%;
  margin-top: 4px;
}
textarea:hover,
textarea:focus,
input:hover,
input:focus,
input:active {
  border: 1px solid var(--active-blue-button-color);
  fill: var(--active-blue-button-color);
}

/* input:focus.svg-modal,
input:active.svg-modal  */
.inputs:hover > .svg-modal {
  fill: var(--blue-button-color);
}

/* .inputs:focus + .icon-checkbox {
} */

.icon-checkbox:focus {
  border-color: #2e2f42;
}

.send {
  width: 169px;
  margin: 0 auto;
}

.policy {
  color: #757575;
}

.policy a {
  text-decoration: underline;
  color: var(--blue-button-color);
}

.checkbox-container {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
}

.modal-form svg {
  position: absolute;
  top: 36px;
  left: 19px;
  transition: fill 250ms var(--timing-function);
}

.form-container {
  position: relative;
}

input:focus + svg,
input:hover + svg {
  fill: var(--blue-button-color);
}

.subscribe {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  color: var(--blue-button-text-color);
}

.container-input {
  max-width: 264px;
}
.subscribe-container {
  margin-left: 80px;
  align-items: center;
}
.use-send {
  fill: var(--blue-button-text-color);
  width: 24px;
  height: 20px;
}

.svg-send {
  margin-left: 16px;
}

.subscribe-form {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-left: 80px;
}

.subscribe-input {
  width: 100%;
  margin-top: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  height: 40px;
  background-color: inherit;
  color: #ffffff;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
}

.subscribe-button {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 4px;
  padding: 8px 24px 8px 24px;
  background-color: var(--blue-button-color);
  color: var(--blue-button-text-color);
  letter-spacing: 0.02em;
  line-height: 1.5;
  transition: background-color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
  align-self: flex-end;
}

.subscribe-input::placeholder {
  /* padding: 8px 212px 8px 16px; */
  font-size: 12px;
  line-height: 2;
}

.subscribe-button:hover,
.subscribe-button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #404bbf;
}

.subscribe-button:active {
  box-shadow: 0px 4px 4px 0px #00000026;
  background-color: var(--active-blue-button-color);
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon-checkbox {
  color: #2e2f42;
  position: absolute;
  left: 0;
  display: inline-block;
  background-origin: border-box;
  width: 16px;
  height: 16px;
  outline: auto;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  transition: background-color 250ms var(--timing-function);
}

.checkbox:checked + .icon-checkbox {
  background-color: #404bbf;
  background-image: url("../images/check-box.svg");
  background-size: contain;
  background-origin: border-box;
  border-color: #404bbf;
  outline: none;
}

.policy {
  display: flex;
  gap: 4px;
  align-items: center;
  position: relative;
  padding-left: 24px;
}

/* =================responsive part================ */
/* ================mobile part===================== */
@media screen and (max-width: 767px) {
  .hero-title {
    font-size: 36px;
    width: 318px;
    margin: 0 auto;
    margin-bottom: 72px;
  }
}

@media screen and (max-width: 767px) {
  .hero {
    background-position: top;
  }
}

@media screen and (max-width: 767px) {
  .advantages-list {
    display: flex;
    flex-direction: column;
    width: auto;
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media screen and (max-width: 767px) {
  .container-header {
    width: 100%;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media screen and (max-width: 1199px) {
  .container-header {
    height: 70px;
  }
}

@media screen and (max-width: 1199px) {
  .advantages-icon-container {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .advantages-sub-title {
    font-size: 36px;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  body {
    max-width: 767px;
  }
}

@media screen and (max-width: 767px) {
  .our-team {
    max-width: 767px;
  }
}

@media screen and (max-width: 1199px) {
  .container-occupation {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .member-list {
    flex-direction: column;
    align-self: center;
  }
}

@media screen and (max-width: 767px) {
  .container-our-team {
    max-width: 767px;
    flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .our-team-item {
    max-width: 264px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 767px;
    /* flex-direction: column; */
    width: auto;
  }
}

@media screen and (max-width: 767px) {
  .customer-list {
    flex-wrap: wrap;
    gap: 72px 16px;
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .customer-list-item-link {
    width: 190px;
    justify-content: center;
  }
}

@media screen and (min-width: 767px) {
  .customer-list-item-link {
    width: 168px;
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .customers-item {
    width: 110px;
  }
}

@media screen and (max-width: 767px) {
  .bottom-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 428px;
  }
}

@media screen and (max-width: 767px) {
  .subscribe-form {
    flex-direction: column;
    justify-content: center;
    margin: 0;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .subscribe-button {
    align-self: center;
  }
}

@media screen and (max-width: 767px) {
  .second-logo {
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .logo-block {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 72px;
    margin-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .social-media {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 72px;
  }
}

@media screen and (max-width: 767px) {
  .container-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: inherit;
    margin-bottom: 16px;
  }
}
@media screen and (max-width: 767px) {
  .contact-list,
  .nav-list {
    display: none;
  }
}

/* @media screen and (min-width: 769px) {
  .contact-list,
  .nav-list {
    display: block;
  }
} */

.social-media {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.menu-toggle {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  position: relative;
}

.menu-toggle-close {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  box-shadow: none;
  transition: background-color 250ms var(--timing-function);
}

.menu-toggle-close:hover,
.menu-toggle-close:focus {
  background: var(--active-blue-button-color);
  fill: var(--blue-button-text-color);
}

@media screen and (min-width: 767px) {
  .mobile-nav-button {
    display: none;
  }
}

@media screen and (min-width: 767px) {
  .js-open-menu {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .modal-form {
    min-width: 392px;
  }
}

@media screen and (min-width: 767px) {
  .modal-form {
    min-width: 408px;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav {
    justify-content: unset;
    width: unset;
  }
}
.mobile-nav-button.is-open .svg-mobile-menu {
  width: 8px;
  height: 8px;
}

.menu-container {
  max-width: 368px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  position: relative;
}

.icon-cross {
  width: 8px;
  height: 8px;
}
.icon-menu {
  width: 24px;
  height: 24px;
}

.svg-mobile-menu {
  width: 32px;
  height: 24px;
}
.svg-mobile-menu-close {
  width: 8px;
  height: 8px;
}

.mobile-nav-button {
  position: absolute;
  right: 10%;
}

@media screen and (max-width: 767px) {
  .button-list {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

/* =======================tablet part=============== */

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .contact-list {
    flex-direction: column;
    gap: 4px;
  }
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .contact-list li:first-child {
    margin: 0;
  }
}

/* @media screen and (min-width: 767px) and (max-width: 1199px) {
  .container-header {
    padding: 24px 16px 10px 16px;
  }
} */

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .advantages-list {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 736px;
    row-gap: 72px;
    column-gap: 24px;
  }
}

/* @media screen and (min-width: 767px) and (max-width: 1199px) {
  .nav-list {
    margin: auto;
  }
} */

/* @media screen and (min-width: 767px) and (max-width: 1199px) {
  .site-nav {
    width: 100%;
  }
} */

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .member-list {
    max-width: 600px;
    flex-wrap: wrap;
    row-gap: 64px;
  }
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .customer-list {
    max-width: 600px;
    margin: 72px auto 96px auto;
    margin-top: 72px;
    margin-bottom: 96px;
    max-width: 600px;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1199px) {
  .project-card {
    justify-content: flex-start;
    align-items: center;
  }
}

@media screen and (min-width: 767px) and (max-width: 1158px) {
  .project-item:last-child {
    margin: 0 auto;
    position: relative;
    right: 25%;
  }
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .bottom-container {
    flex-wrap: wrap;

    padding: 0;
    justify-content: flex-start;
    gap: 24px;
  }
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .subscribe-form {
    margin: 0;
  }
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .logo-block {
    margin: 0;
  }
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .container {
    width: 552px;
    padding: 0;
  }
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .site-nav {
    width: unset;
  }
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .container-header {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media screen and (min-width: 767px) {
  .project-card-continer {
    width: 767px;
  }
}
/* @media screen and (min-width: 767px) .container  */

@media screen and (min-width: 1200px) {
  .project-card-container {
    width: 1158px;
  }
}

/* .mobile-nav-button.is-open .js-menu-container; */

.mobile-nav-list li {
  margin-top: 40px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
}

.mobile-nav-list li a {
  color: var(--title-color-navyblue);
}

.mobile-nav-list li a:hover,
.mobile-nav-list li a:focus {
  color: var(--active-blue-button-color);
}

@media screen and (min-width: 767px) {
  .js-menu-container {
    display: none;
  }
}

.mobile-contact-list {
  display: flex;
  flex-direction: column-reverse;
  gap: 40px;
  margin-bottom: 48px;
}

.mobile-menu-social-list {
  display: flex;
  gap: 24px;
  margin-top: 8px;
  justify-content: space-between;
}

.mobile-envelope {
  color: var(--text-color-slate);
  font-size: 20px;
  line-height: 1.2;
}

.mobile-phone {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  color: var(--blue-button-color);
}

.mobile-envelope:hover,
.mobile-envelope:focus,
.mobile-phone:hover,
.mobile-phone:focus {
  color: var(--blue-button-color);
}

.js-menu-container {
  position: absolute;
  background-color: var(--main-background-color);
  width: 100%;
  top: -685%;
  transition-property: transform;
  transition-duration: 500ms;
  transition-timing-function: var(--timing-function);
  transition: transform 250ms var(--timing-function);
}

.js-menu-container.is-open {
  z-index: 1;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 40px;
  background-color: var(--main-background-color);
  justify-content: space-between;
  transform: translateY(75%);
  right: 0;
  top: -75%;
  align-items: center;
  opacity: 1;
  position: fixed;
}

.js-menu-container.is-open body {
  overflow: hidden;
}

.menu-toggle[aria-expanded="true"] .svg-mobile-menu {
  display: block;
  width: 8px;
  height: 8px;
}

.menu-toggle[aria-expanded="true"] .icon-menu {
  display: none;
}

.js-menu-container.is-open .icon-cross {
  display: block;
  position: absolute;
}

.menu-toggle[aria-expanded="true"] {
  width: 24px;
  height: 24px;
  background: #e7e9fc;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  justify-content: center;
  display: none;
  align-items: center;
  position: fixed;
  transition: background-color 250ms var(--timing-function);
}

@media screen and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-mobile.jpg);
  }
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-tablet.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
  }
}

@media screen and (max-width: 1199px) {
  .advantages-sub-title {
    font-size: 36px;
    line-height: 1.11;
  }
}

@media screen and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-mobile.jpg);
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2),
  screen and (max-width: 767px) and (min-resolution: 192dpi),
  screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-mobile@2x.jpg);
  }
}

@media screen and (min-width: 767px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 767px) and (min-resolution: 192dpi),
  screen and (min-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 1200px) and (min-resolution: 192dpi),
  screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office@2x.jpg);
  }
}

/* @media screen and (min-width: 767px) and (max-width: 1199px) {
  .hero {
    padding-top: 112px;
    padding-bottom: 108px;
  }
} */
.form-button {
  display: flex;
  gap: 24px;
}

@media screen and (max-width: 767px) {
  .form-button {
    width: 100%;
    flex-direction: column;
  }
}

@media screen and (max-width: 1199px) {
  .occupation {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 1199px) {
  .advantages-section {
    padding: 96px 16px;
  }
}

@media screen and (max-width: 767px) {
  .our-team {
    padding-top: 96px;
    padding-bottom: 128px;
  }
}

@media screen and (min-width: 768px) {
  .our-team {
    padding-top: 96px;
    padding-bottom: 104px;
  }
}

@media screen and (max-width: 1199px) {
  .customers {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}

@media screen and (max-width: 767px) {
  .bottom {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}

@media screen and (max-width: 767px) {
  .project-item {
    width: 396px;
    height: 400px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .project-item {
    width: 356px;
    height: 420px;
  }
}
